#app {
  display: flex;
  width: 99svw;
  height: 99svh;
  flex-direction: column;
  background-image: url('https://i.gifer.com/origin/6a/6ab1c5cd94167b97355bd46969d3def1_w200.webp');
}
main {
  margin: auto;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 2%;
}
.card-container {
  background-color: rgba(255, 255, 255, 0.6);
  border: rgb(192, 92, 126) solid 2px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-size: 40px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.card-container:hover {
  cursor: pointer;
  background-color: rgba(216, 112, 147, 0.747);
}
.marcadores {
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

h3 {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
  border: rgb(192, 92, 126) solid 2px;
  border-radius: 10px;
  color: rgb(39, 37, 37);
}
.ganador {
  font-size: 25px;
  margin: 20px;
  display: none;
}
.button {
  width: 130px;
  margin: 5px;
  font-size: 17px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  background-color: rgb(192, 92, 126);
  border: black outset;
}
.button-again {
  display: none;
}
@media only screen and (max-width: 550px) {
  .card-container {
    width: 70px;
    height: 70px;
    margin: 3px;
  }
  .marcadores {
    flex-direction: column;
    gap: 1%;
    text-align: center;
  }
  h1,
  p  {
    text-align: center;
  }
  header {
    margin-bottom: 25px;
  }
  .footer > p {
    width: 230px;
  }
}
